body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove number input arrows (Chrome, Edge, Safari) */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows (Firefox) */
.no-spinner {
  -moz-appearance: textfield;
}
